<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<yandex_kassa>
				<countries>RU</countries>
				<country_restriction>whitelist</country_restriction>
				<currency>RUB</currency>
				<description>{store.domain} // {customer.name} // {order.id}</description>
<!-- 2017-09-16
See the description of the `orderNumber` parameter here:
https://tech.yandex.com/money/doc/payment-solution/payment-form/payment-form-http-docpage
«Payment solution protocol for merchants» → «Payment form» → «Form for HTTP notifications» → «Form parameters»
-->
				<identification_rules>
					<max_length>64</max_length>
				</identification_rules>
				<optionsAllowed>AB,AC,EP,GP,KV,MA,MC,MP,PB,PC,QW,SB,WM</optionsAllowed>
				<optionsDescription><![CDATA[После нажатия кнопки «<b>Оплатить</b>» Вы будете перенаправлены на платёжную страницу Яндекс.Кассы, где Вам будут доступны следующие способы оплаты: {options}.]]></optionsDescription>
				<optionsLocation>magento</optionsLocation>
				<optionsPrompt><![CDATA[Пожалуйста, выберите способ оплаты и нажмите внизу кнопку «<b>Оплатить</b>»]]></optionsPrompt>
				<requireBillingAddress>1</requireBillingAddress>
				<payment_action>authorize_capture</payment_action>
				<title>Яндекс.Касса</title>
				<title_backend>Yandex.Kassa</title_backend>
			</yandex_kassa>
		</df_payment>
        <payment>
            <dfe_yandex_kassa>

<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\YandexKassa\Method</model>
            </dfe_yandex_kassa>
        </payment>
    </default>
</config>