<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<type name='Magento\Checkout\Model\CompositeConfigProvider'>
		<arguments>
			<argument name='configProviders' xsi:type='array'>
				<item name='dfe_yandex_kassa' xsi:type='object'>Dfe\YandexKassa\ConfigProvider</item>
			</argument>
		</arguments>
	</type>
	<virtualType name='Dfe\YandexKassa\Controller\CustomerReturn\Index' type='Df\Payment\CustomerReturn'/>
	<virtualType name='Dfe\YandexKassa\Controller\Index\Index' type='Df\Payment\W\Action'/>
</config>