<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='yandex_kassa'
				translate='label'
				sortOrder='2501'
				showInDefault='1'
				showInWebsite='1'
				showInStore='1'
			>
				<label>Yandex.Kassa</label>
				<dfExtension>Dfe_YandexKassa</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/yandex-kassa' target='_blank'>Yandex.Kassa</a>» payment extension?
<br/>You need to <a href='https://mage2.pro/t/4518' target='_blank' title='[Yandex.Kassa] How to enable dynamic URLs for the success and error pages?'>enable dynamic URLs for the success and error pages</a>.
]]></comment>
				</field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='merchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='text'
				>
					<label>shopId</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4495' target='_blank'>Where to find it?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry validate-digits</validate>
				</field>
				<field
					id='scid'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='text'
				>
					<label>scid</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4520' target='_blank'>Where to find it?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry validate-digits</validate>
				</field>
				<field
					id='privateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='obscure'
				>
					<label>shopPassword</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4497' target='_blank'>Where to find it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					dfWebhook_requireHTTPS='true'
					id='webhookCheck'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
				>
					<label>checkUrl / avisoUrl</label>
					<comment><![CDATA[Set this value to the both <a href='https://mage2.pro/t/4516' target='_blank'>«<b>checkUrl</b>» and «<b>avisoUrl</b>»</a> fields in your Yandex.Kassa account</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='sendFiscalData'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='8'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Send the fiscal data to the Federal Tax Service of Russia?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://yandex.ru/support/checkout/payments/tax-sync.html' target='_blank' title='Sending Receipts to Tax Service under Federal Law No.54'>What is it?</a>
<br/>If you enable this feature, you <b>should</b>:
<ul class='df-note'><li><a href='https://yandex.ru/support/checkout/merchant/settings.html#settings__online-sales-register' target='_blank' title='Online Sales Register Settings'>Enable it in your <b>Yandex.Kassa merchant interface</b></a>.</li>
<li><a href='https://mage2.pro/t/4595' title='How to setup tax for Russia?' target='_blank'>Setup your Magento tax settings in accordance with the the Russian tax law</a>.</li>
</ul>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='shouldPayVAT'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='9'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Whether your company should pay VAT?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[The extension automatically detects which VAT rate is applied for each order item.
<br/>The extension will throw an exception if the applied rate differs from one of: <b>0%</b>,  <b>10%</b>,  <b>18%</b>.
<br/>The «<b>Whether your company should pay VAT?</b>» option is used only in the zero-VAT cases:
<ul class='df-note'>
<li>If the option is <b>unchecked</b>, it means that your company is <b>not a VAT-payer</b>.</li>
<li>If the option is <b>checked</b>, it means that your company <b>is a VAT-payer</b>, and the VAT rate is <b>0%</b>.</li>
</ul>]]>
</comment>
					<depends>
						<field id='enable'>1</field>
						<field id='sendFiscalData'>1</field>
					</depends>
				</field>
				<field
					id='idPrefix'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
				>
					<label>Payment ID prefix</label>
					<comment><![CDATA[<p class='df-note'>This option allows you to define a prefix for the payment identificators (values of the <a href='https://tech.yandex.com/money/doc/payment-solution/payment-form/payment-form-http-docpage' target='_blank'><code>orderNumber</code></a> API parameter).</p>
<p class='df-note'>In the most cases you do not need any prefix and can leave this option empty.</p>
<p class='df-note'>But there are some (rare) cases</a> when your Yandex.Kassa payment identifiers can potentially overlap with the previous ones:</p>
<ul class='df-note'>
<li>If you have changed (e.g., reset) your Magento order numeration scheme.</li>
<li>If you use a single Yandex.Kassa merchant account for multiple shops.</li>
</ul>
<p class='df-note'>If Yandex.Kassa encounters a payment identifier which has been already used for another payment, then it fails <a href='https://tech.yandex.com/money/doc/payment-solution/payment-form/payment-form-http-docpage' target='_blank' title='«Payment solution protocol for merchants» → «Payment form» → «Form for HTTP notifications» → «Form parameters»'>according to the documentation</a>: «<i>if a payment with the same order number was already successfully processed, Yandex.Checkout will decline repeat payment attempts</i>».</p>
<p class='df-note'>So to evade such situation you can define a prefix for the payment identifiers.</p>
<p class='df-note'>Please note that the full payment identifier length (prefix + order number) should be not greater than <a href='https://tech.yandex.com/money/doc/payment-solution/payment-form/payment-form-http-docpage' target='_blank' title='«Payment solution protocol for merchants» → «Payment form» → «Form for HTTP notifications» → «Form parameters»'><b>64 characters</b></a>.</p>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsLocation'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='select'
				>
					<label>Where to ask for a payment option?</label>
					<source_model>Df\Payment\Source\Options\Location</source_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsPrompt'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='textarea'
				>
					<label>Options Prompt</label>
					<comment><![CDATA[A text above the Yandex.Kassa payment options on the Magento checkout page.<br/>You can use the HTML tags. Also you set the prompt empty to hide it.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLocation'>magento</field>
					</depends>
				</field>
				<field
					id='optionsDisplayMode'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='select'
				>
					<label>Payment options display mode</label>
					<comment><![CDATA[See the screenshots:<ul class='df-note'><li><a href='https://mage2.pro/t/4562' target='_blank'>the «<b>images</b>» mode</a></li><li><a href='https://mage2.pro/t/4559' target='_blank'>the «<b>text</b>» mode</a></li></ul>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLocation'>magento</field>
					</depends>
					<source_model>Df\Payment\Source\Options\DisplayMode</source_model>
				</field>
				<field
					dfRows='3'
					id='optionsDescription'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='18'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>Options Description</label>
					<comment><![CDATA[A text to be shown on the Magento checkout page instead of the payment options dialog (as you have chosen to show the payment options on the Yandex.Kassa side, the options dialog will not be shown on the Magento checkout screen).
<br/>You can:
<ul class='df-note'>
<li>Use the HTML tags.</li>
<li>Use the <code>{options}</code> variable. It will be substituted with the available payment options.</li>
<li>Set the description empty to hide it.</li>
</ul>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLocation'>psp</field>
					</depends>
				</field>
				<field
					id='optionsLimit'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='19'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Limit the payment options availability?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If checked, only the selected options will be shown to the customers.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLocation'>magento</field>
					</depends>
				</field>
				<field
					dfMultiselect_ordered='true'
					id='optionsAllowed'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='20'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Allowed Payment Options</label>
					<source_model>Dfe\YandexKassa\Source\Option</source_model>
					<comment><![CDATA[Only the selected options will be shown to the customers on the Magento checkout screen.<br/>You can <b>reorder</b> the options by drag and drop.]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLimit'>1</field>
						<field id='optionsLocation'>magento</field>
					</depends>
				</field>
				<field
					id='provide1YearOnlyLoanTerm'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='21'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Provide the 1 year only loan term?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[
This option is used only for <a href='https://tech.yandex.com/money/doc/payment-solution/payment-process/payments-credit-docpage/' target='_blank' title='«Description of the payment process» → «Payment by credit»'>instant loans</a> (<a href='https://www.kupivkredit.ru' target='_blank'>KupiVkredit</a> - Tinkoff Bank).
<br/>If it is <b>checked</b>, then the bank is passed a fixed loan term of 12 months.
<br/>This is necessary for displaying the monthly loan repayment next to the product price.
<br/>For example, «Refrigerator for 3000 rubles a month».
<br/>This makes the <b>monthly</b> payment equal to <b>10%</b> of the price.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='26'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behavior.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					translate='label'
					type='text'
					sortOrder='27'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					translate='label'
					type='text'
					sortOrder='28'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					translate='label'
					type='select'
					sortOrder='29'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
					sortOrder='30'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>